/*
CSS RESETE PARA ZERAR ALGUMAS PROPRIEDADES PADRÕES
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

body {
    background: #f8f8f8;
}

/* HEADER */

.header {
    border-bottom: 2px solid #c9c0c0
}

.header-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}


.menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #107da8;
    margin-top: 4px;
    transition: all 0.3s;
    position: absolute;
}

.menu a:hover::after,
.menu a.ativo::after {
    width: 100%;
}



/* MAIN */

main {
    border-bottom: 2px solid #c9c0c0
}

.boas-vindas-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
}

.boas-vindas-intro {
    max-width: 380px;
}

.boas-vindas-intro h1 {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.boas-vindas-intro span {
    color: #23b7f1;
}

.boas-vindas-personagem img {
    max-width: 320px;
}

.boas-vindas-intro #btn {
    color: #fff;
    background: #107da8;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
    font-weight: bold;
    margin-bottom: 80px;
}

.boas-vindas-intro #btn:hover {
    background: #23b7f1;
    color: #000;
    box-shadow: 2px 2px 5px 2px #000;
}

/* REDES SOCIAIS */

.boas-vindas-socials {
    display: flex;
    gap: 20px;
}

.boas-vindas-socials img {
    width: 28px;
    transition: .4s;
}

.boas-vindas-socials img:hover {
    transform: scale(1.4);
}
